.header{
    background-color: whitesmoke;
}
.header img{
    height: 150px;
   
    display: block;
  margin-left: auto;
  margin-right: auto;

}
.header nav{
    background-color: black;
    line-height:40px ;
    

}
.header a {
    margin: 10px;
    color: aqua;
    text-decoration: none;
    text-align: center;
    margin-left: 20px;
    font-weight: 500;
    padding:5px ;
} 
.header a:hover{
         background-color: gray;
}    